<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xasd">
    <display-name>MAM Web Servlets</display-name>
    <servlet>
        <servlet-name>dispatchServlet</servlet-name>
        <servlet-class>com.spring.DispatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
</web-app>
